/*Esto es el reset original*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}




/*Modal de bienvenida*/
#modalBienvenida {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    display: none;
    z-index: 3;
}

#modalBoxB {
    width: 800px;
    height: auto;
    background-color: lightgrey;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    text-align: center;
    border-radius: 25px;
}


#modalBoxB h1 {
    font-size: 4rem;
    font-family: 'Merriweather';
    font-weight: normal;

}


/*Menu de navegación*/
nav {
    position: fixed;
    height: 107px;
    z-index: 1;
    width: 100%;
    font-size: 2.3rem;
    background-color: rgba(50, 50, 50, 0.85);
    /* puedes probar otros colores */
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    transition: top 0.75s, height 0.75s, font-size 0.75s, padding 0.75s;
}

#logo {
    height: 100%;
    transition: height 0.75s ease, padding-top 0.75s ease;
}

#menu {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 46px;
    margin: 0;
    padding: 0;
}

.elementoMenu {
    position: relative;
    margin-right: 20px;
}

.elementoMenu>a {
    font-family: 'Playfair Display', sans-serif;
    font-weight: normal;
    color: white;

    text-decoration: none;
    transition: color 0.2s;
}

.elementoMenu>a:hover {
    color: #d4af37;
}

#submenu {
    width: 200px;
    list-style: none;
    display: none;
    position: absolute;



}

.elementoSubmenu {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: rgba(50, 50, 50, 0.85);
    /* puedes probar otros colores */

}

/*Regla que muestra el subMenu*/
.elementoMenu:hover #submenu {
    display: block;

}


.elementoSubmenu>a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    transition-property: color;
    transition-duration: 0.2s;
    padding: 5px;

}

.elementoSubmenu>a:hover {
    color: #d4af37;
}


/*Efecto de hover*/

/*Sección del encabezado*/
#encabezado {
    width: 100%;
    height: 950px;
    /*Como el fondo depende de la imagen dejo un color    */
    /*    background-color: lightgray;*/
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../Media/InicioHero1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#tituloEncabezado {
    width: 100%;
    font-size: 6.50rem;
    /*    background-color: orange;*/
    text-align: center;
    position: absolute;
    font-family: 'Merriweather';
    top: 296px;
    color: white;
    text-shadow: 1px 5px 3px rgba(0, 0, 0, 0.5);
    font-weight: normal;
    animation: fadein;
    animation-duration: 3s;


}

/*Animacion*/
@keyframes fadein {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }

    50% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#subtituloEncabezado {
    font-size: 2.5rem;
    margin-left: 389px;
    /*    background-color: cyan;*/
    font-family: 'Playfair Display';
    position: absolute;
    top: 629px;
    color: white;
    text-shadow: 1px 5px 3px rgba(0, 0, 0, 0.5);
    font-weight: normal;
    animation: sub;
    animation-duration: 3s;

}

@keyframes sub {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;

    }

    100% {
        opacity: 1;
    }
}

/*Sección de servicios*/
#servicios {
    width: 100%;
    height: 950px;
    background-color: wi;
    overflow: hidden;
}

.tituloSeccion {
    margin-top: 80px;
    text-align: center;
    font-family: 'Playfair Display';
    font-size: 4.37rem;
    font-weight: normal;

}

.contenedorDesplega {
    display: flex;
    width: 1083px;
    /*    background-color: #fff;*/
    margin: 60px auto;

}

.opciones {
    width: 321px;
    height: 496px;
    display: flex;
    flex-direction: column;
    gap: 25.27px;
}

#listaServicios {
    opacity: 1;
    /*  Evita que el video baje y tome el espacio de la lista  */
    min-height: 150px;
    transition-property: opacity, transform;
    transition-duration: 1s;
    transform: translateY(0);

}


#listaServicios.oculto {
    opacity: 1;
    transform: translateY(20px);
}




.opciones button {
    cursor: pointer;
    width: 321px;
    color: black;
    height: 77.87px;
    font-family: 'Roboto';
    font-size: 2rem;
    font-weight: normal;
    border-radius: 8px;
    border-style: none;
    background-color: #DDE4EB;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.opciones button.active {
    text-decoration: underline;
}


.contenido {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*Imagen de sección*/
#videoServicios {
    border-radius: 5px;
    height: 357px;
    width: 600px;
    margin-left: 166px;
}

.contenido ul {
    margin-top: 49px;
    list-style: disc;
    margin-left: 209px;
    font-family: 'Roboto';
    font-size: 2rem;
    font-weight: normal;
}

/*Sección de estadísticas*/
#estadisticas {
    width: 100%;
    height: 370px;
    background-color: #3F4045;
    overflow: hidden;
    display: flex;

}

.contenedorEstadis {
    display: flex;
    width: 1163px;
    height: 203px;
    margin: 81px auto;
    gap: 88px;
    justify-content: center;
}

.contenidoEstadis {
    display: flex;
    gap: 42px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contenidoEstadis .numero {
    font-family: 'Roboto';
    font-size: 6rem;
    font-weight: normal;
    color: white;
}

.contenidoEstadis .texto {
    font-family: 'Roboto';
    font-size: 2rem;
    font-weight: normal;
    color: white;
}

/*Sección sobre nosotros*/
#sobreNosotros {
    width: 100%;
    background-color: white;
    overflow: hidden;
}

.parrafo {
    margin: 93px auto;
    font-family: 'Roboto';
    font-size: 1.87rem;
    font-weight: normal;
    width: 1084px;
    height: 232px;
    line-height: 36px;
}

.contenedorGaleria {
    display: flex;
    /*Envuelve los elementos*/
    flex-wrap: wrap;

    /* Distribuye los elementos de manera que haya espacio entre ellos en el eje principal*/
    justify-content: space-between;

    /* Establece el espacio entre las filas (eje vertical) */
    row-gap: 23px;

    /* Establece el espacio entre las columnas (eje horizontal) */
    column-gap: 67px;
    margin: 73px auto 60px;
    width: 974px;
}

.contenedorFoto {
    /*Defino el tamaño de cada foto en relación al espacio y resto el gap*/
    flex: 1 1 calc(33.33% - 67px);
    max-width: calc(33.33% - 67px);
    /*    Para que no salga del contenedor*/
    overflow: hidden;

}

/*Espacio de la imagenes de la galería*/
.contenedorFoto img {
    width: 280px;
    height: 210px;
    border-radius: 5px;
    transition-property: transform;
    transition-duration: 0.3s;

}

.contenedorFoto img:hover {
    transform: scale(1.2, 1.2);
    cursor: pointer;


}


/*Modal galeria*/

#modalGaleria {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    display: none;
    top: 0;
    z-index: 3;
}

#imageToShow {
    width: 80vw;
    height: 887px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lbButtons {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    border-style: none;
    border-width: 5px;
    overflow: hidden;
}

.lbbRight {
    right: 30px;
}

.lbbLeft {
    left: 30px;
}

.lbButtons img {
    object-fit: cover;
    height: 100%;
    width: 100%;

}

.imageLightbox {
    width: 100%;
    height: auto;
    border-radius: 50px;


}



/*Sección de contacto*/
#contacto {
    width: 100%;
    height: 1621px;
    background-color: black;
    overflow: hidden;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../Media/Contactofondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.tituloSeccionContac {
    margin-top: 80px;
    text-align: center;
    font-family: 'Playfair Display';
    font-size: 4.37rem;
    font-weight: normal;
    color: white;
}

.contenedorContacto {
    width: 954px;
    height: 158px;
    margin: 64px auto;
    /*    background-color: red;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 207px;

}

.infomacionContac {
    display: flex;
    flex-direction: column;
    gap: 21px;

}

.elementoContacto {
    display: flex;
    align-items: center;
}

.contenedorIcono {
    height: 41px;
    width: 41px;
    margin-right: 22px;
}

.contenedorIcono img {
    width: auto;
    height: 100%;
    transition: transform 0.3s ease;
}

.contenedorIcono img:hover {
    transform: scale(1.2);
}




.elementoContacto span {
    color: white;
    font-family: 'Roboto';
    font-size: 1.87rem;
    font-weight: normal;
}

.invitacion {
    color: white;
    font-family: 'Roboto';
    font-size: 1.87rem;
    font-weight: normal;
    text-align: center;

}

.miTooltip {
  display: inline-block;
  padding: 10px;
  background-color: #eee;
  border: none  ;
  cursor: pointer;
  border-radius: 5px;
}

.tooltip {
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 14px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s ease;
  z-index: 1000;
}




form {
    /*    background-color: lightgreen;*/
    margin: 65px auto;
    display: flex;
    width: 524px;
    flex-direction: column;
    /* Asegura que los elementos estén en columna */
    align-items: center;
    /* Centra los elementos horizontalmente */



}

input {
    height: 40px;
    width: 524px;
    border-radius: 8px;
    padding: 9px;
    font-family: 'Roboto';
    font-size: 1.25rem;
    font-weight: normal;
    box-shadow: 1px 9px 5px rgba(0, 0, 0, 0.57);
    margin-bottom: 31px;
    color: black;
    border-style: none;
}

button {
    color: white;
    font-family: 'Roboto';
    font-size: 1.87rem;
    font-weight: normal;
    width: 138px;
    height: 46px;
    background-color: #3F4045;
    box-shadow: 1px 9px 5px rgba(0, 0, 0, 0.57);
    margin-top: 30px;
    border-radius: 8px;
    border-style: none;
    transition: transform 0.3s ease;
}

button:hover {
    background-color: white;
    color: #3F4045;
    transform: scale(1.1);
}

textArea {
    padding: 9px;
    width: 524px;
    height: 121px;
    border-radius: 8px;
    font-family: 'Roboto';
    font-size: 1.25rem;
    font-weight: normal;
    color: black;

    box-shadow: 1px 9px 5px rgba(0, 0, 0, 0.57);
}

.contenedorDireccion {
    width: 1016px;
    height: 94px;
    /*    background-color: purple;*/
    display: flex;
    justify-content: space-between;
    margin: 55px auto;
    align-items: center;
}

.fichaDireccion {
    width: 427px;
    height: 78px;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}


.contenedorIconoMaps {
    width: 41px;
    height: 41px;
    margin-right: 11px;

}

.contenedorIconoMaps img {
    width: auto;
    height: 100%;
    transition: transform 0.3s ease;

}

.contenedorIconoMaps img:hover {
    transform: scale(1.2);
}

.contenedorMapa {
    margin: 41px auto;
    width: 1199px;
    height: 457px;
    /*    background-color: lightblue;*/
    border-radius: 8px;
    overflow: hidden;
}

/*Modal de contacto*/

#modalContacto {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    display: none;
    z-index: 3;
}

#modalBoxC {
    width: auto;
    height: auto;
    background-color: lightgrey;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    text-align: center;
    border-radius: 25px;
}

#modalBoxC>p {
    margin-top: 30px;
    font-size: 1rem;
    font-family: 'Roboto';
    font-weight: normal;
}


#modalBoxC h1 {
    font-size: 3rem;
    font-family: 'Merriweather';
    font-weight: normal;

}



/*Sección del footer*/

#footer {
    width: 100%;
    height: 153px;
    background-color: #3F4045;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.contenedorFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    margin-bottom: 15px;
    margin-top: 36px;

}

.contenedorRedes {
    width: 283px;
    display: flex;
    gap: 80px;
    /*    background-color: skyblue;*/

}

.iconosFooter {
    height: 41px;
    width: 41px;


}

.iconosFooter img {
    width: auto;
    height: 100%;
    transition: transform 0.3s ease;
}

.iconosFooter img:hover {
    transform: scale(1.2);
}

.contenedorTexto {
    font-family: 'Merriweather';
    font-size: 1.85rem;
    font-weight: normal;
    color: white;
    margin-top: 10px;

    width: 325px;
}